language: node_js

node_js:
- '0.12'

script: npm run $COMMAND

after_script: cat ./coverage/node/lcov.info ./coverage/browser/lcov.info | ./node_modules/coveralls/bin/coveralls.js

after_failure:
- cat /home/travis/build/delta-db/deltadb-common-utils/npm-debug.log

env:
  matrix:
  - COMMAND=assert-beautified
  - COMMAND=node-full-test
  - COMMAND=browser-coverage-full-test

  - CLIENT=saucelabs:firefox COMMAND=browser-test
  - CLIENT=saucelabs:chrome COMMAND=browser-test
  - CLIENT=saucelabs:internet explorer COMMAND=browser-test
  - CLIENT=saucelabs:edge COMMAND=browser-test
  - CLIENT=saucelabs:safari COMMAND=browser-test

  # NOTE: there is currently no construct that allows us to encrypt the SAUCE_USERNAME and
  # SAUCE_ACCESS_KEY while also allowing saucelabs testing in forked projects. See
  # https://github.com/travis-ci/travis-ci/issues/1946 and
  # https://github.com/angular/angular.js/issues/5596 for more information.
  global:
    - SAUCE_USERNAME=deltadb-common-utils
    - SAUCE_ACCESS_KEY=5aa00b81-3d7f-4e7a-ba63-424c5360316d

branches:
  only:
  - master
  - /^pull*$/
