language: node_js

node_js:
- '0.12'

before_script:
  - npm run jshint
  - npm run assert-beautified

script: npm run $COMMAND

after_script: cat ./coverage/node/lcov.info ./coverage/browser/lcov.info | ./node_modules/coveralls/bin/coveralls.js

after_failure:
- cat /home/travis/build/delta-db/deltadb-common-utils/npm-debug.log

env:
  matrix:
  - COMMAND=node-full-test
  - COMMAND=browser-coverage-full-test
  - CLIENT=saucelabs:firefox COMMAND=browser-test

  global:
  - secure: IcPwmDH1hOph44jjCk/5TYBu1Se/KWjTkfSZR20tB0G8BU3wWAGDcNdsVSGry3mMBXQUNYOcoJqlrI+/lzALm6O6onkWfMoCZK/bEUlvUesXZMYpMZa+pZFJfptAXvCWrMsTTrhaof16EZ/8xdP14UHOMadCnZiBUqFnpYt9GO3Fe6+ClzLYHsR5xlkRY+/8FSscuhMKRvF2kO47s52Egb22QNSCyME+LRFopWZmYcSa3Gt5T1TXyFK5ZdurJ8BVQn7KB5GrFg+v9YG42NhH7/iyNFEmf8gHH+QhmtYQiu12MGJpwShRJCalFsD1e0hTU8l8VBoVMlILHQnPH8uyT5Q6U4KUPrOSuxoOLdQNtzEJJyPUPQOz4ruESiSenXmXOMC+dZ0or0VkMtdH47Xb9MA6WMD7CHBRHZlWJHvATFXkj/Q7v0mNy86jeZvbGm6IwI9NOFaBdTykJQEhh2HJfpGUPSpzNCtZMX5OmUAh4bEIB/C5nApNGvKFLzhaYg8UE2ULT1xmpH9HInmwAjamAUPECQPHC1kBhPd+81X7V6yJDxXpzAmCsbNN773AToOpZ5kkysvQif4c415LmM1eAdCvxUYDcpNkCJZHF/dMSYzJPNepOvyzjT2c/ozp8zS4hPWS+Y4mFXFWBXn7yaoK96UqeoVdeCSnETxPU2q7G9g=
  - secure: TqucRh8lioG2hOuV2RewOIfsoEfi6R9d5bFN90SLzF8DYa4CmmUMy/AvtaUQfc9TVENqszOUxmpI4N9+UvHhRw1tsKLZZA9QHb+x0zVQCV6XiNwMeO6xEBYVtn7nX8v0y5/YsIT+Kwi3zSHnX5BVbah25S1qavQg9z98Blf+AWvKliOtcn1b0Zv4G8AtoxIEvNUdA+ghWduNseHMmvVQ2yoO3u4YESUOz/xUwlFEEDZFxvHBCgTD9VmFOsrKDtdNTCFGii+krbK9+ShgN8ZGXIXss/FOZLouMcM6DXdtY8XLbCgD4VKc8J3V+vwg5JpEIGsasIVicseJ6TMvg/Kph0V5NDOWDQ0+k+pnJRf4o6lQrsaUKsHm49vvfHY75ziGdhlbEDzqnpdnH1kzyLBOqPENjmY6OMmduaEA137xJv1pRyKNLV3maImrXSqt/8AKgtPUNeHfCAMykoYqowZLIoLxuhxfrOYHFQxqhb2U4/K0k5drYQ86qk+LJdqIJoPxj0sq9Mya2XW9KUkHHARU9HBZ/mbgoyb7yNKmc/SbSkf78vJRmSXpSXl7RM7AS+MFRUqM8atljzYImmYKAat2KIXWYudyWiaUvRc//ojHPIE2nKJqHbFo5yN6xwNPgPyzqVLa7ZYAY2yopg/UAkcRpPQXQSp6sjizGcT8YZozhH0=

branches:
  only:
  - master
